body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url('heart-pattern.png');
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    margin-top: 20px;
}

.logo img {
    width: 200px;
}

.wheels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permettre le passage à la ligne si l'espace est insuffisant */
}

.wheel {
    background-color: #550033;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #770044;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    transform: scale(1.1);
}

ul li.selected {
    background-color: #fff;
    color: #000;
}

button {
    background-color: #cc3366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
